.meeting-points-header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media screen and (width > 768px) {
    .meeting-points-header-container {
        flex-direction: row;
        align-items: center;
    }
}