<app-breadcrumbs></app-breadcrumbs>
<section class="section-container">
  <div class="meeting-points-header-container">
    <div class="meeting-points-header-container-title">
      <h1 class="tienda-title">{{ 'meeting-points.title' | translate }}</h1>
      <h2 class="tienda-subtitle">
        {{ 'meeting-points.subtitle' | translate }}
      </h2>
    </div>
    <button
      mat-raised-button
      class="tienda-primary-button"
      (click)="createMeetingPoint()"
    >
      {{ 'meeting-points.button-text' | translate }}
    </button>
  </div>
  <app-table
    [columns]="columns"
    [data]="meetingPoints()"
    [showDetails]="false"
    [showDelete]="true"
    [showEdit]="false"
    (deleteClick)="deleteMeetingPoint($event)"
  ></app-table>
</section>
