.data-section {
  display: grid;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

// Responsive design
@media screen and (width < 768px) {
  .data-section {
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (width >= 768px) and (width < 1024px) {
  .data-section {
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 1024px) {
  .data-section {
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
