<div class="section-container">
    <app-breadcrumbs></app-breadcrumbs>
    <h1 class="tienda-title">Lista de productos de {{ manufacturer().name }}</h1>
    <h2 class="tienda-subtitle">Encuentra los mejores productos artesanales de {{ manufacturer().name }}</h2>
    <div class="products-list-container">
        @for (card of cards(); track card.uuid) {
            <app-card [card]="card" [buttonText]="'Ver producto'" [buttonType]="'primary'" (click)="goToProductDetails(card)"></app-card>
        }
    </div>
</div>
