<app-breadcrumbs></app-breadcrumbs>
<div class="section-container">
    <h1 class="tienda-title">{{ 'manufacturers-details.title' | translate }} {{ manufacturer()?.name }}</h1>
    <p class="tienda-text">{{ manufacturer()?.description }}</p>
    <div class="products-list-container">
        @for (card of cards(); track card.uuid) {
            <app-card [card]="card" [buttonText]="'manufacturers-details.button-text' | translate" [buttonType]="'primary'" (succesButtonClick)="goToProductDetails(card)"></app-card>
        }
    </div>
</div>
