<div class="header-container">
  <div class="header-logo">
    <img src="https://picsum.photos/300/300" />
    <div class="platform-title">Tienda</div>
  </div>
  <div class="header-search">

  </div>
  <div class="header-buttons">
    <button class="tienda-primary-button">
      <mat-icon>person</mat-icon>
    </button>
      <button class="tienda-primary-button" [matBadge]="productsSelected()" matBadgePosition="above after" routerLink="/carrito">
        <mat-icon>shopping_cart</mat-icon>
      </button>
  </div>
</div>