<div class="header-container">
  <div class="header-logo">
    <img src="/assets/logo/logo.png" alt="Logo Tienda" />
    <div class="platform-title">Artis</div>
  </div>
  <div class="header-search"></div>
  <div class="header-buttons">
    <div class="header-user-info">
      @if (manufacturerImage()) {
        <img [src]="manufacturerImage()" class="manufacturer-image" />
      }
      <span class="tienda-subtitle">{{currentUser()?.name}}</span>
    </div>
    @let sections = headerSections();
    @for (section of sections; track section.title) {
      <app-section-button [section]="section" [displayMenu]="section.menu ?? false"></app-section-button>
    }
  </div>
</div>

