@use '../../../core/theming/variables.scss' as variables;
.order-details-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.order-meeting-point-container {
    flex: 1;
    background-color: variables.$light-primary-color-10;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.order-products-list-container {
    flex: 1;
    background-color: variables.$light-primary-color-10;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

@media screen and (width < 768px) {
    .order-details-container {
        flex-direction: column;
    }
}