<app-filters-container
  [filters]="filters"
  [chips]="chips"
  (removeChip)="removeFilter($event)"
  (clearFilters)="clearFiltersClick()"
  (applyFilters)="applyFiltersClick()"
>
    <ng-container *ngTemplateOutlet="filtersContent; context: { form: formService.form, maxPrice: maxPrice() }"></ng-container>
</app-filters-container>

<ng-template #filtersContent let-form="form" let-maxPrice="maxPrice">
        <form >
            <mat-form-field class="tienda-f-width" appearance="outline">
                <mat-label>{{ 'products.filters.name-label' | translate }}</mat-label>
                <input matInput [formControl]="form.controls.name" [placeholder]="'products.filters.name-placeholder' | translate" />
            </mat-form-field>
            <!-- <mat-form-field class="tienda-f-width" appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput [formControl]="form.controls.description" />
            </mat-form-field> -->
                <mat-form-field class="tienda-f-width" appearance="outline">
                    <mat-label>{{ 'products.filters.price-min-label' | translate }}</mat-label>
                    <input matInput type="number" [placeholder]="'products.filters.price-min-placeholder' | translate" [formControl]="form.controls.price.controls.start" min="0" [max]="maxPrice" />
                    <span matTextSuffix>€</span>
                </mat-form-field>
                <mat-form-field class="tienda-f-width" appearance="outline">
                    <mat-label>{{ 'products.filters.price-max-label' | translate }}</mat-label>
                    <input matInput type="number" [placeholder]="'products.filters.price-max-placeholder' | translate" [formControl]="form.controls.price.controls.end" min="0" [max]="maxPrice" />
                    <span matTextSuffix>€</span>
                </mat-form-field>
            <!-- <mat-form-field class="tienda-f-width" appearance="outline">
                <mat-label>En stock</mat-label>
                <mat-select [formControl]="form.controls.inStock">
                    <mat-option value="true">Si</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="tienda-select-input tienda-f-width" appearance="outline">
                <mat-label>Categoría</mat-label>
                <mat-select [formControl]="form.controls.category" style="background-color: white;">
                    <mat-option *ngFor="let category of categories()" [value]="category.uuid">{{ category.name }}</mat-option>
                </mat-select>
            </mat-form-field> -->
        </form>
</ng-template>