<div class="meeting-point-details-dialog-container">
    <div class="meeting-point-details-dialog-container-header">
        <h1 class="tienda-subtitle">Punto de encuentro de: <b><span class="tienda-text-highlight">{{ data.name }}</span></b></h1>
        <p class="tienda-text">Punto de encuentro seleccionado: <b>{{ selectedMeetingPoint()?.name ?? '' }}</b></p>
        <p class="tienda-text">Haz click en los marcadores para seleccionar el punto de encuentro.</p>
    </div>
     <div class="map-container">
        <app-map [markers]="markers" [zoom]="15" (markerClick)="onMarkerClick($event)"></app-map>
    </div>
    <div class="meeting-point-form-dialog-container-buttons">
        <button mat-raised-button class="tienda-primary-button tienda-f-width" (click)="selectMeetingPoint()">Seleccionar punto de encuentro</button>
    </div>
</div>