@use '../../../core/theming/variables.scss' as variables;
.clear-chip {
  cursor: pointer;
  background-color: variables.$primary-color-bg;
  border: 1px solid variables.$primary-color-light;
  font-size: 14px !important;
  padding: 4px 8px !important;
  margin: 0px 0px 0px 8px !important;
  text-wrap: auto;
  border-radius: 16px;
  transition: all 0.2s ease;

  &:hover {
    background-color: variables.$primary-color-light;
    border-color: variables.$primary-color;
    
    .text-clear-chip {
      color: variables.$white-color;
    }
  }

  .text-clear-chip {
    color: variables.$primary-color;
    font-weight: 500;
    transition: color 0.2s ease;
  }
}

.adif-header__environment-chip {
  height: 16px !important;
  background-color: var(--secondary-color--dark-green) !important;
  align-self: baseline;
  padding: 0 !important;
  margin-left: 8px;

  &--text {
    color: var(--primary-color-white);
    font-size: 11px;
    font-weight: bold;
  }
}

.adif-chip-background {
  background-color: white !important;
  outline: none !important;
  border: none !important;
}

.adif-chip {
  @extend .adif-chip-background;
  font-size: 16px !important;
  padding: 0px !important;
  margin: 0px 0px 8px 8px !important;
  text-wrap: auto;
}
