.meeting-point-details-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    height: 80vh;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
}

.meeting-point-details-dialog-container-header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100px;
    width: 100%;
}
.map-container {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    display: block;
}