<app-breadcrumbs></app-breadcrumbs>
<div class="section-container">
  <div class="order-header-container">
    <div class="order-header-container-title">
      <h1 class="tienda-title">{{ 'order-details.title' | translate }}</h1>
      <h2 class="tienda-subtitle">
        {{ 'order-details.subtitle' | translate }} <b>{{ order().username }}</b>
      </h2>
    </div>
    @let statusCompleted = 'order-details.status-completed' | translate;
    @let statusPending = 'order-details.status-pending' | translate;
    <button [ngClass]="{'tienda-primary-button': order().status === 'pending', 'tienda-warning-button': order().status === 'completed'}" (click)="changeOrderStatus(order())">{{ order().status === 'pending' ? statusCompleted : statusPending }}</button>
  </div>
  <div class="order-data-container">
    <app-order-data [order]="order()"></app-order-data>
  </div>
  <div class="order-details-container">
    <div class="order-products-list-container">
      <app-order-product-list [products]="order().products"></app-order-product-list>
    </div>
    <div class="order-meeting-point-container">
      @if (meetingPoint()) {
      <app-order-meeting-point [meetingPoint]="meetingPoint()!"></app-order-meeting-point>
      }
      @else {
      <div class="order-meeting-point-container">
        <h2 class="tienda-subtitle">{{ 'order-details.order-meeting-point.no-meeting-point' | translate }}</h2>
      </div>
      }
    </div>
  </div>
</div>