<div class="section-container">
  <div class="breadcrumbs-container">
    <app-breadcrumbs></app-breadcrumbs>
  </div>
  <div class="order-header-container">
    <div class="order-header-container-title">
      <h1 class="tienda-title">Detalles del pedido</h1>
      <h2 class="tienda-subtitle">
        Aquí puedes ver los detalles del pedido de <b>{{ order().username }}</b>
      </h2>
    </div>
    <button class="tienda-primary-button" (click)="changeOrderStatus(order())">{{ order().status === 'pending' ?
      'Completado' : 'Pendiente' }}</button>
  </div>
  <div class="order-data-container">
    <app-order-data [order]="order()"></app-order-data>
  </div>
  <div class="order-details-container">
    <div class="order-products-list-container">
      <app-order-product-list [products]="order().products"></app-order-product-list>
    </div>
    <div class="order-meeting-point-container">
      @if (meetingPoint()) {
      <app-order-meeting-point [meetingPoint]="meetingPoint()!"></app-order-meeting-point>
      }
      @else {
      <div class="order-meeting-point-container">
        <h2 class="tienda-subtitle">No se ha seleccionado ningún punto de encuentro</h2>
      </div>
      }
    </div>
  </div>
</div>