@use "./core/theming/variables.scss" as variables;

header {
  height: variables.$header-mobile-height;
  width: 100vw;
}

main {
  width: 100%;
  height: calc(100vh - variables.$header-mobile-height);
  border-top: 1px solid variables.$divider-color;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-sizing: border-box;
  overflow: auto;
  background-color: variables.$background-color;
}

nav {
  width: 100%;
  box-sizing: border-box;
  height: variables.$sidenav-mobile-height;
  background-color: variables.$surface-color;
  overflow-x: auto;
}

content {
  flex: 1;
  box-sizing: border-box;
  overflow: auto;
  background-color: variables.$background-color;
}

@media screen and (width > 768px) {
  header {
    height: variables.$header-desktop-height;
  }
  nav {
      height: 100%;
      width: variables.$sidenav-desktop-width;
  }

  main {
    height: calc(100vh - variables.$header-desktop-height);
    width: 100%;
    flex-direction: row;
    border-top: none;
  }
}