@use '../../../core/theming/variables.scss' as variables;

.login-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 12px;
}


.login-dialog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.login-dialog-header-logo {
    img {
      max-height: 120px;
      border-radius: 50%;
      margin-left: 0;
      box-shadow: variables.$shadow-sm;
    }
  }

.login-dialog-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    flex: 1;
    width: 100%;
}              

