.select-meeting-point-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

.meeting-point-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 10px;
}

.meeting-point-container-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 10px;
}

@media screen and (width < 768px) {
    .meeting-point-container {
        flex-direction: column;
    }
}