.add-product-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

}
.form-control {
  width: 33.33%;
}

.textarea-control {
  width: 100%;
}

@media screen and (width < 768px) {
  .row {
    flex-direction: column;
  }
  .form-control {
    width: 100%;
  }
  .textarea-control {
    width: 100%;
  }
}