.add-product-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

}
.form-control {
  width: 100%;
}

.textarea-control {
  width: 100%;
}

$image-container-height: 200px;

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
  min-height: $image-container-height;
  width: 100%;
  background-color: #cccccc;
  border: 1px solid #000;

  img {
    width: calc(100% / 5);
    height: calc($image-container-height / 2);
    object-fit: cover;
  }
}

@media screen and (width < 768px) {
  .row {
    flex-direction: column;
  }
  .form-control {
    width: 100%;
  }
  .textarea-control {
    width: 100%;
  }
}