<div class="add-product-dialog-container">
  <h1 class="tienda-title">Agregar producto</h1>
  <form class="add-product-form">
    <div class="row">
      <mat-form-field appearance="outline" class="form-control">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-control">
        <mat-label>Precio</mat-label>
        <input matInput type="number" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-control">
        <mat-label>Imagen</mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="textarea-control">
      <mat-label>Descripción</mat-label>
      <textarea matInput type="text"></textarea>
    </mat-form-field>
  </form>
  <button mat-raised-button class="tienda-primary-button">
    Agregar producto
  </button>
</div>
