@use '../../../core/theming/variables.scss' as variables;

.sidenav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 4px;
    padding: 4px;
    box-sizing: border-box;
    background-color: variables.$surface-color;
    border-top: 1px solid variables.$divider-color;
}

@media screen and (width > 768px) {
    .sidenav-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        height: 100%;
        width: 100%;
        gap: 8px;
        padding: 16px 8px;
        border-top: none;
        border-right: 1px solid variables.$divider-color;
        background-color: variables.$surface-color;
        box-shadow: variables.$shadow-sm;
    }
}

