@use '../../../core/theming/variables.scss' as variables;
@use '../../../core/theming/mixins.scss' as mixins;
@use 'sass:color' as color;

.sidenav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}



@media screen and (width > 768px) {

    .sidenav-container {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .sidenav-item {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        border-radius: 10px;
    }
}

