.mdc-snackbar__label {
  padding: 0px !important; 
  box-shadow: none; 
}

.mdc-snackbar__surface {
  padding: 0px !important; 
  box-shadow: none; 
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  border-radius: 8px !important;
}