$header-height: 10%;
$sidenav-mobile-height: 10%;

$primary-color: rgb(71, 136, 71);
$warning-color: rgb(177, 78, 78);
$accent-color: #6c757d;
$text-color: #000;
$light-gray-color: #f8f3de;
$white-color: #eeeeee;