@use 'sass:color' as color;

$header-mobile-height: 12%;
$header-desktop-height: 10%;
$sidenav-mobile-height: 11%;
$sidenav-desktop-width: 8%;

$primary-color: #457c3a;
$warning-color: rgb(177, 78, 78);
$accent-color: #6c757d;
$text-color: #000;
$light-gray-color: #3cd41d71;
$light-primary-color-10: #f2ffef;
$dark-gray-color: #185025;
$white-color: #eeeeee;