<div class="section-container">
    <span class="tienda-title">{{ 'home.title' | translate }}</span>
    <span class="tienda-subtitle">{{ 'home.subtitle' | translate }}</span>

    <p class="tienda-text">
        {{ 'home.text' | translate }}
    </p>

    <button (click)="currentLanguegeService.setCurrentLanguege('es')">Cambiar a español</button>
    <button (click)="currentLanguegeService.setCurrentLanguege('eus')">Cambiar a euskera</button>

    <div class="sections-list">
        @for (section of sections; track section.title) {
            <div class="section" (click)="navigateToSection(section)">
                <div class="section-image">
                    <img [src]="section.image" [alt]="section.title" />
                </div>
                <div class="section-content">
                    <h3 class="tienda-title">{{ section.title | translate }}</h3>
                    <p class="tienda-text">{{ section.description | translate }}</p>
                </div>
            </div>
        }
    </div>
</div>