<app-breadcrumbs></app-breadcrumbs>
<section class="section-container">
  <div class="my-products-header-container">
    <div class="my-products-header-container-title">
      <h1 class="tienda-title">{{ 'my-products.title' | translate }}</h1>
      <h2 class="tienda-subtitle">
        {{ 'my-products.subtitle' | translate }}
      </h2>
    </div>
    <button
      mat-raised-button
      class="tienda-primary-button"
      (click)="openFormDialog()"
    >
      {{ 'my-products.button-text' | translate }}
    </button>
  </div>
  <app-products-filters [maxPrice]="0" (applyFilters)="applyFilters($event)"></app-products-filters>
  <div class="products-list-container">
    @for (card of cards(); track card.uuid) {
    <app-card
      [card]="card"
      [buttonText]="'my-products.edit-product-button' | translate"
      [buttonType]="'primary'"
      [buttonTemplate]="editProductButton"
    ></app-card>
    }
  </div>
</section>

<ng-template #editProductButton let-card="card">
  <div class="edit-product-buttons-container">
    <button mat-raised-button class="tienda-primary-button tienda-f-width" (click)="openFormDialog(card.uuid)">
      {{ 'my-products.edit-product-button' | translate }}
    </button>
    <button mat-raised-button class="tienda-warning-button tienda-f-width" (click)="toggleProductStock(card.uuid)">
      {{ card.disabled ? ('my-products.disable-product-button' | translate) : ('my-products.enable-product-button' | translate) }}
    </button>
  </div>
</ng-template>
