.my-products-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
}

.my-products-header-container-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-product-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}